## Franklin.jl
__site/
.DS_Store
franklin
franklin.pub
node_modules/

# Had issues installing Julia on gh-pages before ignoring the manifest:
Manifest.toml

## Notebooks
_literate/notebooks

## Jekyll
# _site
# .sass-cache
# .jekyll-metadata
# *.sh